@{
    ViewBag.Title = "Анализ социальных сетей";

}

<div class="container">
    <div class="row">
        <div class="col-md-6" id="about">
            <h2 style="text-align:center">Анализ социальных сетей</h2>

            <p style="font-size: 18px; margin-top: 20px;">
                Анализ социальных сетей для раннего распознавания суицидальных настроений.
                Используется лингвистический робот, который анализирует посты в социальной сети ВКонтакте. Так же есть телеграм-бот.
            </p>
        </div>
        <div class="col-md-6" id="getId">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                Шаг #1
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            Чтобы анализировать страницу сначала вам нужно добавить группу. Для этого нажмите на ссылку "Все группы".Далее нажмите на кнопку "Добавить Группу". Надо ввести имя группы и нажать на кнопку "Добавить".
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                Шаг #2
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            После того как добавите группу нажмите на ссылку "Список Персон". После нажмите на ссылку "Добавить персону".  
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                Шаг #3
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            Вводим данные персоны и нажимаем кнопку "Добавить", если нужно получить ID переходим на главную страницу и вводим ссылку на профиль.
                        </div>
                    </div>
                </div>
            </div>
            <div class="ID">                
                @using (Html.BeginForm("GetId", "Home"))
                {
                    @Html.TextBox("id", null, new { @class= "form-control", @placeholder="Ссылка на ВК", @style="display:unset"})
                    <input class="btn btn-default btn-submit" type="submit" name="GetId" value="Получить ID" id="user" />
                }
            </div>
            <div class="telegram-bot-box">
                <i class="fa fa-telegram fa-2x" aria-hidden="true"></i>
                <span>
                    Активировать бота в Telegram:
                    <a href="https://telegram.me/suicidealpha_bot">@@suicidealpha_bot</a>
                </span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">

        </div>
    </div>
</div>

